body {
    margin-top: 70px;
   /* font-family: Arial, sans-serif;*/
}

.hero {
    min-height: 60vh;
    padding: 120px 0;
    background: radial-gradient(circle at center, #1e293b, #0f172a);
}


.perfil {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}

.card {
    border: none;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: 0.8s;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
